@if (IsDisplay == true)
{
    <div class="modal" style="display:block">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h6 class="modal-title">Add Product</h6>
                    <button type="button" class="close" @onclick="CancelAddDialog">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <EditForm Model="this.Product" Context="formContext">
                        <DataAnnotationsValidator />

                        <InputProductComponent Product="this.Product" OnSubmit="@(()=> this.OnSubmit(formContext))"></InputProductComponent>
                    </EditForm>

                    @if (this.ErrorMessage != null)
                    {
                        <ErrorMessageComponent ErrorMessage="@this.ErrorMessage"></ErrorMessageComponent>
                    }
                </div>
            </div>
        </div>
    </div>
}